@font-face {
  font-family: 'AlarmClock';
  src: url('/fonts/alarm-clock.ttf');
  font-weight: normal;
  font-style: normal;
}

*
{
  margin: 0;
  padding: 0;
}

html,
body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }
div { -webkit-user-select: none !important; }

.threejs-canvas
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.pixi-canvas
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: auto;
}

.loading-percent
{
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -25px;
  text-align: center;
  vertical-align: bottom;
  color: #ffffff;
  font-size: 26px;
  font-family: sans-serif;
}

.loading-percent.ended
{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.credits
{
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #000000;
  font-size: 16px;
  font-family: sans-serif;
  opacity: 0.5;
}

.hide
{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.show
{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.intro-text
{
  position: absolute;
  bottom: 40px;
  left: 50%;
  color: #000000;
  font-size: 30px;
  font-family: sans-serif;
  transform: translateX(-50%);
  opacity: 0.5;
  width: 200px;
}

.intro-text.hide
{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.intro-text.fastHide
{
  display: none;
}

.rotate-to-landscape
{
  position: absolute;
  bottom: 45px;
  left: 50%;
  color: #000000;
  font-size: 22px;
  font-family: sans-serif;
  transform: translateX(-50%);
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 8px;
  opacity: 0.6;
  width: 200px;
  display: none;
}

.rotate-to-landscape.show
{
  display: block;
}

.rotate-to-landscape.hide
{
  display: none;
}

.keyboard-icon
{
  position: absolute;
  bottom: 45px;
  right: 15px;
  width: 90px;
  content: url(/assets/other/keyboard-icon.png);
  opacity: 0.5;
  cursor: pointer;
}

.keyboard-icon.hide
{
  display: none;
}

.keyboard-shortcuts
{
  position: absolute;
  bottom: 103px;
  right: 15px;
  width: 175px;
  color: #000000;
  font-size: 16px;
  font-family: sans-serif;
  opacity: 0.5;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 28px;
  display: none;
  opacity: 0;
}

.keyboard-shortcuts.hide
{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.keyboard-shortcuts.show
{
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.keyboard-shortcuts.fastShow
{
  display: block;
}

.copyrights
{
  position: absolute;
  bottom: 6px;
  left: 50%;
  color: #000000;
  font-size: 9px;
  font-family: sans-serif;
  transform: translateX(-50%);
  opacity: 0.5;
  text-align: center;
  display: none;
  width: 650px;
}

.copyrights.show
{
  display: block;
}
